
@{
	ViewBag.Title = "ASP.NET SignalR Stock Ticker";
}

<h1>ASP.NET SignalR Stock Ticker Sample</h1>

<h2>Live Stock Table</h2>
<div id="stockTable">
	<table>
		<thead>
		<tr>
			<th>Symbol</th>
			<th>Price</th>
			<th>Open</th>
			<th>Change</th>
			<th>%</th>
		</tr>
		</thead>
		<tbody>
			<tr class="loading"><td colspan="5">loading...</td></tr>
		</tbody>
	</table>
</div>
